.input-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  padding-left: 20px;
}
.input-container form label {
    padding-right: 6px;
}
.detail{
    margin-bottom: 6px;;
}

.input-container form h3 {
    font-size: 16px;
    text-align: left;
}


.input-form{
    margin-bottom: 1px;;
}

.submit-button, .login-button{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.submit-button, .login-button,  button{
    text-align: center;
    margin: 10px 0px;
    
}